.navbar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.logo {
  cursor: pointer;
  mix-blend-mode: multiply;
}
.siteheader {
  mix-blend-mode: multiply;
  height: 30vh;
  float: right;
  margin-bottom: 0;
}
.footer {
  mix-blend-mode: multiply;
  width: 100%;
  margin: 0;
}
.pageHeader {
  mix-blend-mode: multiply;
  text-align: center;
  height: 15vh;
}
.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}
/* .majorIcon {
  mix-blend-mode: multiply;
  width: 3;
  height: 40vh;

} */
.minor-Icon {
  /* flex: 1 0 30%; */
  justify-content: center;
  margin: auto;
  align-content: center;
}
.Icon {
  mix-blend-mode: multiply;
  width: 200px;
}
body {
  font-family: alegreya;
  font-size: 20px;
  color: black;
  margin: 0px;
  height: 100%;
  width: 100%;
  background-color: ivory;
  background-position: center;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  position: relative;
}

a {
  text-decoration: none;
}
h1 {
  text-align: center;
  font-family: cursive;
  color: #8c9b88;
}
label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.user-container {
  margin: 1em;
  padding: 1em;
}

.flexbox-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}
.flex-item {
  flex: 1 0 21%;
  border: rgb(116, 140, 120);
  margin: 5px;
  border-style: groove;
  text-align: center;
  padding: 5px;
  mix-blend-mode: multiply;
}
#prodImg {
  width: 250px;
  height: 250px;
}
button {
  display: inline-block;
  border: none;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  cursor: pointer;
  border-radius: 4px;
  background-color: rgb(183, 201, 159);
}
button:hover {
  background-color: rgb(116, 140, 120);
}

#logo-main {
  display: block;
  margin: 20px auto;
  mix-blend-mode: multiply;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: rgb(183, 201, 159, 0.3);
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: rgb(111, 131, 109);
  color: black;
}

a {
  color: rgb(84, 84, 84);
  opacity: 1;
  margin: 0;
}
a:hover {
  background-color: rgb(116, 140, 120, 0.5);
}
